page-menu-cun {
    .sideMenuCun {
        background-image: url('../assets/img/desenfocada2.png');
        background-repeat: round ;
        background-size: 100%;        
    }
    .imgProfile {
        width: 150px!important;
        height: 150px!important;
        margin-left: 20%!important;
        border-radius: 50%;
        margin-top: 10px;
    }
    .buttonProfile{
        margin-right: 20px!important;
    }
    .splashlogo {
        margin: 10px 45% 10px 0 !important;
        margin-left: 45% !important;
        background: url('../assets/img/1logo.png') no-repeat transparent;
        background-size: 100%;
        width: 35px;
        height: 35px;
    }    
    .padding {
          margin-top: 12px;
    }
    .grid{
        margin-top: 20px;
    }
    .verdeClaro {
        background-color:color($colors, secondary);
        height: 100px !important;
        border-radius: 8px;
        box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.3) ,
                0 3px 1px -2px rgba(0, 0, 0, 0.3) ,
                0 1px 5px 0 rgba(0, 0, 0, 0.3) !important;
        text-align: center;
        margin-bottom: 10px
    }
    .verdeOscuro {
        background-color: color($colors, third);
        height: 100px !important;
        border-radius: 8px;
        box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.3) ,
                0 3px 1px -2px rgba(0, 0, 0, 0.3) ,
                0 1px 5px 0 rgba(0, 0, 0, 0.3) !important;
        text-align: center;
        margin-bottom: 10px
    }   
    .candadoIco {
        position: absolute;
        top: 6px;
        left: 7px;
        width: 12px;
    }
    .ImagenBoton{
        position: absolute;
        top: 15px;
        right: 30%;
        width: 40px;
        height: 35px;       
    }
    .nombreBoton {        
        position: absolute;
        top: 45px;       
        font-size:small;
        text-transform: capitalize;
        text-align: center !important;        
    }
    .imagenFooter {
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
    }   
    .iconFooter {
        height: 25px;
        margin-left: 18px; 
        margin-top: 30px;    
    }
    .iconNoti {
        // height: 30px;
        // margin-left: 18px;  
        // margin-top: 17px; 
        z-index: 999;
        height: 40px;
        position: absolute;
        left: 18px;
        bottom: 1px;     
    }
    .iconU {
        z-index: 999;
        height: 40px;
        position: absolute;
        left: 8%;
        bottom: 1px;
    }
    .footerGrid {        
        position: absolute;
        bottom: 1px;
    }
    .badge {
        right: 85px;
        position: absolute;
        top: 0px;
        font-size: 10px;
        width: 15px;
        height: 15px;
        padding: 3px 2px;
        margin-top: 15px;
    } 
    
    .alertClass p {
        text-align: center;
    }

}